<div class="col-md-12 col-sm-9 col-xs-6 hidden-xs hidden-sm">
    <a href="{{ path('wizard_start_banner',{ 'id': banner.ofertaAuto.auto.id, 'codigo': banner.ofertaAuto.oferta.codigo,'banner': banner.id }) }}">
        <img src="{{ asset('uploads/images/banners/') }}{{ banner.image }}"/>
    </a>
</div>